<!DOCTYPE html>
<html>
<head><title>Scripts</title></head>
<body>
  <h1>Lista de Scripts</h1>
  <form method="post">
    <input name="nombre" placeholder="Nombre"><br>
    <input name="descripcion" placeholder="Descripción"><br>
    <textarea name="codigo" placeholder="Código LISP"></textarea><br>
    <button type="submit">Guardar</button>
  </form>
  <hr>
  {% for b in bloques %}
    <div>
      <h2>{{ b.nombre }}</h2>
      <p>{{ b.descripcion }}</p>
      <pre>{{ b.codigo }}</pre>
      <a href="{{ url_for('edit', item_id=b.id) }}">Editar</a>
      <a href="{{ url_for('delete', item_id=b.id) }}">Eliminar</a>
    </div>
  {% endfor %}
</body>
</html>